# Imports

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Read CSVs

Datasets are available on the link in readME. Change the paths as needed.

In [2]:
path_movies ='../Datasets/movies.csv'
path_ratings = '../Datasets/ratings.csv' 
path_tags = '../Datasets/tags.csv' 

movies = pd.read_csv(path_movies)
ratings = pd.read_csv(path_ratings)
tags = pd.read_csv(path_tags)

# Treating Movies Dataset

## Data Understanding

In [3]:
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [4]:
movies.dtypes

movieId     int64
title      object
genres     object
dtype: object

In [5]:
movies.describe()

             movieId
count   62423.000000
mean   122220.387646
std     63264.744844
min         1.000000
25%     82146.500000
50%    138022.000000
75%    173222.000000
max    209171.000000

In [6]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62423 entries, 0 to 62422
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  62423 non-null  int64
 1   title    62423 non-null  object
 2   genres   62423 non-null  object
dtypes: int64(1), object(2)
memory usage: 1.4+ MB

In [7]:
movies.nunique()

movieId    62423
title      62325
genres      1639
dtype: int64

In [8]:
movies['title'].value_counts()

title
The Void (2016)                                2
Seven Years Bad Luck (1921)                    2
Clear History (2013)                           2
Enron: The Smartest Guys in the Room (2005)    2
Deranged (2012)                                2
                                              ..
$ellebrity (Sellebrity) (2012)                 1
Macabre (Macabro) (1980)                       1
Punk's Dead: SLC Punk! 2 (2014)                1
Chinese Hercules (1973)                        1
Women of Devil's Island (1962)                 1
Name: count, Length: 62325, dtype: int64

In [9]:
movies.isnull().sum()

movieId    0
title      0
genres     0
dtype: int64

In [10]:
# Separating genres to count them and do some EDA from that
movie_genres = movies['genres'].str.split(pat ='|', expand=True).fillna(0)
movie_genres.columns = ['genre1', 'genre2', 'genre3', 'genre4', 'genre5', 'genre6', 'genre7', 'genre8', 'genre9', 'genre10']
movie_genres['genre_count'] = movie_genres.iloc[:, 0:10].astype(bool).sum(axis=1)
movie_genres.head()

,genre1,genre2,genre3,genre4,genre5,genre6,genre7,genre8,genre9,genre10,genre_count
0,Adventure,Animation,Children,Comedy,Fantasy,0,0,0,0,0,5
1,Adventure,Children,Fantasy,0,0,0,0,0,0,0,3
2,Comedy,Romance,0,0,0,0,0,0,0,0,2
3,Comedy,Drama,Romance,0,0,0,0,0,0,0,3
4,Comedy,0,0,0,0,0,0,0,0,0,1

In [11]:
# Putting all of the columns together
movies = pd.concat([movies, movie_genres], axis=1)
movies.head()

,movieId,title,genres,genre1,genre2,genre3,genre4,genre5,genre6,genre7,genre8,genre9,genre10,genre_count
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,Adventure,Animation,Children,Comedy,Fantasy,0,0,0,0,0,5
1,2,Jumanji (1995),Adventure|Children|Fantasy,Adventure,Children,Fantasy,0,0,0,0,0,0,0,3
2,3,Grumpier Old Men (1995),Comedy|Romance,Comedy,Romance,0,0,0,0,0,0,0,0,2
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,Comedy,Drama,Romance,0,0,0,0,0,0,0,3
4,5,Father of the Bride Part II (1995),Comedy,Comedy,0,0,0,0,0,0,0,0,0,1

# EDA

# Treating Ratings dataset

In [12]:
ratings.head()

   userId  movieId  rating   timestamp
0       1      296     5.0  1147880044
1       1      306     3.5  1147868817
2       1      307     5.0  1147868828
3       1      665     5.0  1147878820
4       1      899     3.5  1147868510